{% extends 'base.html'%}

{% block title %}
Конструктор УУД "Выбор предмета"
{% endblock %}


{% block body %}
<div class="container p-2 p-md-3 text-dark rounded bg-light">
    <div class>
      <h3 class="display-8 mx-auto text-center">Выберите параллель</h3>
    </div>
</div>
<div class="container jumbotron p-1 p-md-10 text-black rounded bg-white">
    <div>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/1"><h3>1 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/2"><h3>2 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/3"><h3>3 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/4"><h3>4 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/5"><h3>5 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/6"><h3>6 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/7"><h3>7 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/8"><h3>8 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/9"><h3>9 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/10"><h3>10 класс</h3></a>
        <a type="button" class="btn btn-outline-secondary btn-block" href="/11"><h3>11 класс</h3></a>
    </div>
</div>
{% endblock %}